body{
    background-color: #393E46;
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
}
.container{
   text-align: center;
   width:70%;
   margin:auto; 
}
h1{
    font-size:8rem;
    font-family: 'Lobster', cursive;
    margin:30px;
    text-shadow: 5px 0 #232931;
}
p{
    font-size: 2rem;
    color:#4ECCA3;
    font-family: "Indie Flower",cursive;
}
.dice{
   display: inline-block;
   text-align: center;
}
img{
   width:80%;
}